body{
    background: rgb(190, 190, 190);
}

#frm{
    border: solid rgb(83, 83, 83);
    border-radius: 2px;
    margin: 100px auto; /*auto -> horiz centering*/
    background: white;
    padding: 50px;
    
}

#btn{
    color: rgb(22, 148, 174); 
    background: #112638;
    padding: 7px;
}

#flogin{
    color: red;
}


/**************/
/* Add a black background color to the top navigation */
.topnav {
    border-style: solid ;
    border-width: 2px ;
    border-color: rgb(95, 95, 111) ;
    background-color: rgb(40, 43, 216);
    overflow: hidden;
    width: 100%;
}

#navimg{
    padding: 10px;
}

/* Style the links inside the navigation bar */
